# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
*.sqlite
*.sqlite3
*.db

# Environment variables
.env
.env.*

# Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp