<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Portfolio</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>
<body>
    <main>
        <h1>Portfolio website</h1>
        <p>The project has been initialized successfully.</p>
        <p>Second paragraph added to test the change</p>
    </main>
</body>
</html>